@import url(./reset.css);
@import url(./header.css);
@import url(./footer.css);

* {
    box-sizing: border-box; 
}

body {
    height: 100vh;
    background-color: rgb(250,249,247);
    font-family: "Quicksand", sans-serif;    
}

.conteudo {
    width: 550px;
    margin: 75px auto;
    display: flex;
    gap: 25px;
    line-height: 1.5;
}

.conteudo__left {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.conteudo__left h2 {
    font-size: 25px;
    font-weight: 600;
}

.conteudo__left img {
    width: 150px;
    border-radius: 50%;
}

.conteudo__left p {
   text-align: justify;
}


.conteudo__right {
    margin: 90px 0;
}

.conteudo__right__texto {
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(238, 236, 236);
}

.conteudo__right h3 {
    font-size: 25px;
    font-weight: 500;
}

.conteudo__right p {
    text-align: justify;
}

@media (max-width: 450px)  {
    .conteudo {
    flex-direction: column;
    width: 300px;
    margin: 75px auto;
    display: flex;
    gap: 25px;
    line-height: 1.5;
}

.conteudo__right {
    margin: 25px 0;
}
}

@media (max-width: 750px)  {
    .conteudo {
    flex-direction: column;
    width: 300px;
    margin: 75px auto;
    display: flex;
    gap: 25px;
    line-height: 1.5;
}

.conteudo__right {
    margin: 25px 0;
}
}